/* #F0D9FF */

.item {
    background:#BFA2DB;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;

}

.todo-description {
    width: 100%;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.check{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.check:hover {
    color: greenyellow;
}

.delete-todo {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.delete-todo:hover {
    color: coral;
}

.icon-check_active {
    font-size: 30px;
    color: greenyellow;
}

.todoitem-p_completed {
    text-decoration: line-through;
}

.todo-undo {
    position: absolute;
    color: white;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.todo-undo:hover {
    color: coral;
}