.create-todo_button {
    height: 120px;
    width: 120px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: yellowgreen;
    font-size: 80px;
    cursor: pointer;
}

.create-button_over {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: yellowgreen;
    height: 100px;
    width: 100px;
    font-size: 80px;
    cursor: pointer;
}