html{
  
}

body {
  min-height: 100vh ;
  margin-bottom: 120px;
  padding: 0;
  background-color: #f0d9ff;
  color: #1e1e1f;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  margin: 0;
  position: relative;
}