
.search-bar {
    background: white;
    border-radius: 2px;
    border: 2px solid   #BFA2DB;
    height: 45px;
    width: 70%;
    margin: 0 calc(15%);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .search-bar::placeholder {
    color: #A5A5A5;
    font-weight: 400;
  }
  
  .search-bar:focus {
    outline-color: #61DAFA;
  }

.search-bar:disabled {
  opacity: 25%;
}